<head>
  <link rel="stylesheet" href="/static/sidenav.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item<%=active_projects%> px-3">
        <a class="nav-link <%=active_projects%>" href="#portfolio">projects / portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item<%=active_about%> px-3">
        <a class="nav-link <%=active_about%>" href="#about">about</a>
      </li>
      <li class="nav-item<%=active_about%> px-3">
        <a class="nav-link <%=active_about%>" href="/static/img/singh_resume.pdf">resume</a>
      </li>
      <li class="nav-item<%=active_contact%> px-3">
        <a class="nav-link <%=active_contact%>" href="#contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
